@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application does...</h2>
        <ul>
            <li>Actual count for latest "Slot": @Model.Count</li>
        </ul>
    </div>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Name: <input asp-for="SlotModel.Slot" /></div>
        <input type="submit" />
    </form>
</div>
